<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CryptoGp</title>
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <!-- Vendor style -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="public/vendor/toastr/toastr.min.css" />
    <link rel="stylesheet" href="public/vendor/swiperjs/css/swiper.min.css" />
    <link rel="stylesheet" href="public/vendor/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="public/vendor/styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="public/vendor/styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="public/vendor/styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="public/vendor/styles/cryptocoins/cryptocoins.css" />
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PQW7KT7');
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">
        window._trackJs = {
            token: 'c1ef2c86268441cea80570f1838d5d69'
        };
    </script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1989277444693019');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1989277444693019&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class="pace-done">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQW7KT7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="app"></div>

    <!-- Vendor scripts -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="public/vendor/toastr/toastr.min.js"></script>
    <script src="public/vendor/swiperjs/js/swiper.min.js"></script>
    <!-- App scripts -->
    <script src="app.js?v=<%= htmlWebpackPlugin.options.staticVersion %>"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111543340-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111543340-1');
    </script>
</body>

</html>