$font_family: Monda, sans-serif;

// start 
$color-primary: #F0972D;
$color-second: #12252E;
$color-third: #12252E;
$color-green-dark: #142C37;
$color-green-dark-2: #12252E; 
$color-white: #fff;
$color-green-dark-3:#1A3442;
$color-green:#00C67A; 
$color-green-light:#304854; 
$color-warming:#C60000; 
$color-dark: #0D1E26; 
$color-gray: #415158;
$color-gray-2: #020202;
 

// text
$color-text-primary: white;
$color-text-dark: black; 

$text-size-big: 20px;
$text-size-large: 16px;
$text-size-medium: 14px;
$text-size-small: 12px;
