$body_bg: #fff;
$black: #000;
$primary_color: #c52728;
$card_header_bg: #2b2b2b;
$card_header_bg_2: #363636;

$text_color: #959595;
$heading_color: #fff;
$highlight_color: #fec339;
$hightlight_dark_color:#684b05;
$highlight_color_1: #faae00;

$btn_text_color: #fff;
$btn_default_bg: #1e1e1e;

$font_size: 14px;
$icon_font_normal: 18px;

$font_family: Monda, sans-serif;

$border_color: #959595;

$color_green : #4b9747;

$color-gray : #F0F0F0;

$color-gray-2: #E8E8E8;

$color-gray-3: #CDCCCA;
$dark: #23262D;
$dark_1: #2E313A;
$dark_2: #383B44;